name: Tests

on: ['push', 'pull_request']

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        php: ['7.4', '8.0']

    name: PHP ${{ matrix.php }} - ${{ matrix.os }} - ${{ matrix.dependency-version }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        tools: composer:v2
        coverage: none

    - name: Install PHP 7 dependencies
      run: composer update --prefer-stable --no-interaction --no-progress
      if: "matrix.php < 8"

    - name: Install PHP 8 dependencies
      run: composer update --prefer-stable --ignore-platform-req=php --no-interaction --no-progress
      if: "matrix.php >= 8"

    - name: Unit Tests
      run: composer test:unit

    - name: Source Linter
      run: composer test:lint

    - name: Static code analysis
      run: composer test:types
